body {
    background: rgba(238, 204, 219, 0.765);
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(25, 82, 31);
    text-align: center;
}
button {
    color: rgb(0, 0, 0);
    background: rgba(25, 82, 31, 0.613);
    border-radius: 5px;
}
button:hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.575) ;
}
input{
    width: 150px;
    height: 20px;
    transition: height 0.5s, width 0.5s;
}
li {
    list-style-type: square;
}
input:focus {
    width: 200px;
    height: 25px;
    

}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: rgba(25, 82, 31, 0.712);
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 85%;
    margin-left: -110px; 
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: -10px; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}